{% extends "main_template.html" %}
{% load render_partial %}
{% block content %}
        <!-- site__body -->
		<div class="site__body">
			<div class="page-header">
				<div class="page-header__container container">
					<div class="page-header__breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">خانه</a>
									/
								</li>
								<li class="breadcrumb-item active" aria-current="page">علاقه‌مندی‌ها</li>
							</ol>
						</nav>
					</div>
					<div class="page-header__title">
						<h1>علاقه‌مندی‌ها</h1></div>
				</div>
			</div>
			<div class="block">
				<div class="container">
					<table class="wishlist">
						<thead class="wishlist__head">
							<tr class="wishlist__row">
								<th class="wishlist__column wishlist__column--image">تصویر</th>
								<th class="wishlist__column wishlist__column--product">محصول</th>
								<th class="wishlist__column wishlist__column--stock">وضعیت انبار</th>
								<th class="wishlist__column wishlist__column--price">قیمت</th>
								<th class="wishlist__column wishlist__column--tocart"></th>
								<th class="wishlist__column wishlist__column--remove"></th>
							</tr>
						</thead>
						<tbody class="wishlist__body">
                            {% for favorite in user_favorite_product %}
                                <tr class="wishlist__row">
                                    <td class="wishlist__column wishlist__column--image">
                                        <a href="{% url "products:product_details" slug=favorite.product.slug %}"><img src="{{ media_url }}{{ favorite.product.image_name }}" alt=""></a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--product">
                                        <a href="{% url "products:product_details" slug=favorite.product.slug %}" class="wishlist__product-name">
                                           {{ favorite.product.produce_name }}
                                        </a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--stock">
                                        {% if favorite.product.get_number_in_warehouse > 0 %}
                                            <div class="badge badge-success">موجود در انبار</div>
                                        {% else %}
                                            <div class="badge badge-danger">ناموجود در انبار</div>
                                        {% endif %}
                                    </td>
										{% if favorite.product.get_number_in_warehouse > 0 %}
                                    		<td class="wishlist__column wishlist__column--price">{{favorite.product.price}}تومان</td>
                                    		<td class="wishlist__column wishlist__column--tocart">
                                        
                                            <button type="button" class="btn btn-primary btn-sm" onclick="add_to_shop_cart({{favorite.product.id}},1)">افزودن به سبد</button>
										{% else %}
											<td class="wishlist__column wishlist__column--price">اخرین قیمت : تومان{{favorite.product.price}}</td>
											<td class="wishlist__column wishlist__column--tocart">
											<del>افزودن به سبد خرید</del>

                                       {% endif %}
                                    </td>
                                    <td class="wishlist__column wishlist__column--remove">
                                        <button type="button" class="btn btn-light btn-sm btn-svg-icon">
                                            <svg width="12px" height="12px">
                                                <use xlink:href="images/sprite.svg#cross-12"></use>
                                            </svg>
                                        </button>
                                    </td>
									<td>
										{% if user.is_authenticated %}
										<button 
										class="btn btn-light btn-svg-icon product-card__wishlist" 
										id="favorite-btn-{{ favorite.product.id }}"
										onclick="addTofavorites({{ favorite.product.id }})"
										>
										<i class="fa {% if favorite.product.get_user_favorite %}fa-heart{% else %}fa-heart-broken{% endif %}"></i>
										<span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
										</button>
										{% endif %}
									</td>
                                </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock content %}

