{% if products %}
    <div class="container">
        <h2 style="text-align: center; color: green;">کالا های انتخابی برای مقایسه</h2>
        <table class="table table-bordered">


            <tr style="background: #f1f1f1; text-align: center;">
                <th>ویژگی کالا / ویژگی</th>
                {% for product in products %}
                    <th>
                        <i class="fa fa-times product-remove" onclick="deleteFromCompareList({{product.id}})"></i>
                        {{product.product_name}}
                    </th>
                {% endfor %}
            </tr>


            {% for feature in features %}
                <tr>
                    <td style="font-size:1.2rem; font-weight:900; width:25%;">{{feature}}</td>
                    {% for product in products %}
                        <td style="text-align: center;">
                            {% for item in product.product_features.all %}
                                {% if item.feature == feature %}
                                    <span style="margin: 5px;">{{item.filter_value.value_title}}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}



        <div class="compare-empty">
            <div class="compare-empty__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                {% comment %} <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                  d="M4 6h16M4 10h16M4 14h16M4 18h16" />
              </svg> {% endcomment %}
            </div>
            <h2 class="compare-empty__title">جدول مقایسه خالی است!</h2>
            <p class="compare-empty__desc">محصولات دلخواه خود را برای مقایسه انتخاب کنید.</p>

            <div class="compare-empty__icon swing-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 640 512" fill="currentColor">
                  <path d="M528 448H352V153.25c20.6-8.9 35.6-27.7 39.2-50.25h73.5c-1.1 5.2-1.7 10.6-1.7 16 0 35.3 28.7 64 64 64s64-28.7 64-64c0-5.4-.6-10.8-1.7-16h25.7c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16H464c-8.8 0-16 7.2-16 16v7.25h-73.5C369.6 64.9 354.6 46.1 334 37.25V32c0-17.7-14.3-32-32-32s-32 14.3-32 32v5.25C249.6 46.1 234.6 64.9 230.8 87.25H157.3V80c0-8.8-7.2-16-16-16H32c-8.8 0-16 7.2-16 16v7.25c0 8.8 7.2 16 16 16h25.7c-1.1 5.2-1.7 10.6-1.7 16 0 35.3 28.7 64 64 64s64-28.7 64-64c0-5.4-.6-10.8-1.7-16h73.5c3.6 22.55 18.6 41.35 39.2 50.25V448H112c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h416c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 96c0 17.7-14.3 32-32 32s-32-14.3-32-32h64zm384 0c0 17.7-14.3 32-32 32s-32-14.3-32-32h64z"/>
                </svg>
              </div>
              

            <h6 style="background-color:pink; text-align: center; border-radius:30%;font-size: 18px; font-weight: 600; color: #777;">محصولی برای مقایسه انتخاب نشده است</h6> 
            <a href="{% url 'main:index' %}" class="btn-to-shop">رفتن به فروشگاه</a>
          </div>
          


{% endif %}